<ion-view view-title="Book Appointment">
 <ion-nav-bar class="clsViewHeader">
	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	    <button menu-toggle="left" class="button button-icon icon ion-navicon clsMenuBtn"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
	<div class="list clsFormList">
	  <a class="item item-icon-right" ng-click="showDocList()">
	    Select Doctor
		<i class="icon ion-chevron-right"></i>
	  </a>
	   <a class="item">
	    Date:
		<div class="clsDate">
			<input id="date" ng-model="appointment.Date" type="date" name="date" >
		</div>
		
	  </a>
	   <a class="item">
	    Time:
		<div class="clsDate">
			<input id="text" ng-model="appointment.Time" type="text" name="date" >
		</div>
		
	  </a>
	 <label class="item item-input item-floating-label">
		<span class="input-label">Description</span>
		<textarea type="text" ng-model="appointment.description" class="clsPlaceholder" placeholder="Description"></textarea>
	</label>
	
	
	</div>
	<button class="button button-full clsFormBtn" ng-click="bookAppointment(appointment)">
			 Book Appointment
	</button>
  </ion-content>
</ion-view>
