<ion-view view-title="Download Certificate">
 <ion-nav-bar class="clsViewHeader">
	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	    <button menu-toggle="left" class="button button-icon icon ion-navicon clsMenuBtn"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
	<div class="clsTable">
		<div class="row">
		  <div class="col-10 center clsBold">ID</div>
		  <div class="col center clsBold">Request Date</div>
		  <div class="col center clsBold">Doctor</div>
		  <div class="col center clsBold">Download</div>
		</div>
		<div class="row">
		  <div class="col-10 center">ID01</div>
		  <div class="col center">22/06/2016</div>
		  <div class="col center">Dr. Mhatre</div>
		  <div class="col center"><i class="icon ion-ios-download" style="font-size:20px"></i></div>
		</div>
		<div class="row">
		  <div class="col-10 center">ID02</div>
		  <div class="col center">22/06/2016</div>
		  <div class="col center">Dr. Mhatre</div>
		  <div class="col center"><i class="icon ion-ios-download" style="font-size:20px"></i></div>
		</div>
		
	</div>
	
  </ion-content>
</ion-view>
