<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="clsMenuBody">
	 <div class="clsUserProfile">
	 <div class="clsProfileEdit pull-right" ng-click="logout()">Logout</div>
		
			
		<ion-item  menu-close ui-sref="app.profile" class="clsMenuProfile">
			<div class="clsProfileImg"></div>
        </ion-item>
		
		
		<div class="clsProfileTxt list">
			  <ion-item ng-click="showLogoutbtn()" class="clsUserName">
				Welcome User
			  </ion-item>
		</div>
	 </div>
      <ion-list>
        <ion-item class="clsMenuItem" menu-close ui-sref="app.newComplaint">
         <i class="fa fa-pencil-square-o clsMenuIcon" aria-hidden="true"></i> New Complaint
        </ion-item>
        <ion-item class="clsMenuItem" menu-close ui-sref="app.complaintStatus">
          <i class="fa fa-sticky-note-o clsMenuIcon" aria-hidden="true"></i> Complaint Status
        </ion-item>
        <ion-item class="clsMenuItem" menu-close ui-sref="app.myOutstandings">
         <i class="fa fa-credit-card clsMenuIcon" aria-hidden="true"></i> My Outstanding
        </ion-item>
		<ion-item class="clsMenuItem" menu-close ui-sref="app.viewDoctor">
          <i class="fa ion-medkit clsMenuIcon" aria-hidden="true"></i> View Doctor
        </ion-item>
        <ion-item class="clsMenuItem" menu-close ui-sref="app.requestCertificate">
          <i class="fa fa-history clsMenuIcon" aria-hidden="true"></i> Request Certificate
        </ion-item>
		 <ion-item class="clsMenuItem" menu-close ui-sref="app.downloadCertificate">
          <i class="fa fa-history clsMenuIcon" aria-hidden="true"></i> Download Certificate
        </ion-item>
		
		
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
