<ion-view view-title="My Outstandings">
 <ion-nav-bar class="clsViewHeader">
	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	    <button menu-toggle="left" class="button button-icon icon ion-navicon clsMenuBtn"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
	<div class="clsTable">
		<div class="row">
		  <div class="col-25 center clsBold">Doctor</div>
		  <div class="col-25 center clsBold">Fees Charged<br/>(Rs)</div>
		  <div class="col-25 center clsBold">Fees Paid<br/>(Rs)</div>
		  <div class="col-25 center clsBold">Outstanding<br/>(Rs)</div>
		</div>
		<div class="row">
		  <div class="col-25 center">Dr. Shah</div>
		  <div class="col-25 center">1000</div>
		  <div class="col-25 center">200</div>
		  <div class="col-25 center">800</div>
		</div>
		<div class="row">
		  <div class="col-25 center">Dr. Mhatre</div>
		  <div class="col-25 center">600</div>
		  <div class="col-25 center">600</div>
		  <div class="col-25 center clsNil">NIL</div>
		</div>
		
	</div>
	
  </ion-content>
</ion-view>
