<ion-view view-title="My Profile">
 <ion-nav-bar class="clsViewHeader">
	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	    <button menu-toggle="left" class="button button-icon icon ion-navicon clsMenuBtn"></button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
	   <!-- Toggle left side menu -->
	    <button class="button button-icon icon ion-edit clsMenuBtn"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
	<div class="list clsFormList">
	 <div class="row clsProfileheader">
		<div class="col"><div class="clsProfileImg"></div></div>
	   <div class="col clsProfileChangePassBtn"><a ui-sref="app.changePassword">Change Password</a></div>
	 </div>
	  <div class="row">
		<div class="col">ID:</div>
		<div class="col">ID01</div>
	 </div>
	 <div class="row">
		<div class="col">First Name:</div>
		<div class="col">Amol</div>
	 </div>
	  <div class="row">
		<div class="col">Last Name:</div>
		<div class="col">Dongare</div>
	 </div>
	 <div class="row">
		<div class="col">Email:</div>
		<div class="col">amold@gmail.com</div>
	 </div>
	 <div class="row">
		<div class="col">Mobile Number:</div>
		<div class="col">7899999999</div>
	 </div>
	 
	  
	</div>
	
  </ion-content>
</ion-view>
