<ion-view view-title="My Doctors">
 <ion-nav-bar class="clsViewHeader">
	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	    <button menu-toggle="left" class="button button-icon icon ion-navicon clsMenuBtn"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
	<div class="clsTable">
		<div class="row">
		  <div class="col center clsBold">Doctor</div>
		  <div class="col center clsBold">Mobile No.</div>
		  <div class="col center clsBold">Area</div>
		  <div class="col center clsBold">Pincode</div>
		</div>
		<div class="row" ng-if="!docorsList">No Doctors in your list</div>
		<div class="row" ng-repeat="doc in docorsList">
		  <div class="col center">{{doc.docName}}</div>
		  <div class="col center">{{doc.contactno}}</div>
		  <div class="col center">{{doc.area}}</div>
		  <div class="col center">{{doc.pincode}}</div>
		</div>
		
		
	</div>
	<button class="button button-full clsSubmitBtn" ng-click="searchDoctor()">
			 Search Doctor
	</button>
  </ion-content>
</ion-view>
